footer {
    position: absolute;
    bottom: - var(--footer_height);
    width: 100%;
    height: var(--footer_height);
    background-color: var(--footer_color);
}

#footer-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#navbar-theme-footer {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: 0px;
}

#navbar-theme-footer button {
    position: relative;
    padding: 0;
    border-radius: 50%;
    height: var(--theme-button-height);
    width: var(--theme-button-width);
}

#navbar-theme-footer button img {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: var(--theme-button-height);
    width: var(--theme-button-width);
}

#navbar-theme-footer button:hover {
    cursor: pointer;
}

.dark-theme-shadow {
    box-shadow: var(--dark-theme-shadow-idle);
}
.dark-theme-shadow:active {
    box-shadow: var(--dark-theme-shadow-active);
}

.light-theme-shadow {
    box-shadow: var(--light-theme-shadow-idle);
}
.light-theme-shadow:active {
    box-shadow: var(--light-theme-shadow-active);
}

@media (min-width: 650px)
{
    #navbar-theme-footer {
       display: none;
    }
}