footer {
    position: absolute;
    bottom: - var(--nav-height);
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-color);
}

#footer-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Footer: Theme button */

#footer-theme-div {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: 0px;
}

#footer-theme-div button {
    position: relative;
    padding: 0;
    border-radius: 50%;
    height: var(--theme-button-height);
    width: var(--theme-button-width);
    box-shadow: var(--themeButton-shadow-idle);
}

#footer-theme-div button:active {
    box-shadow: var(--themeButton-shadow-active);
}

#footer-theme-div button img {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: var(--theme-button-height);
    width: var(--theme-button-width);
}

#footer-theme-div button:hover {
    cursor: pointer;
}

@media (min-width: 650px)
{
    #footer-theme-div {
       display: none;
    }
}