#navbar {
    position: relative;
    height: var(--nav_height);
    width: 100%;
}

/* Navbar Theme Button */
#navbar-theme-header {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: var(--theme-button-width);
}

#navbar-theme-header button {
    position: relative;
    padding: 0;
    border-radius: 50%;
    height: var(--theme-button-height);
    width: var(--theme-button-width);
}

#navbar-theme-header button img {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: var(--theme-button-height);
    width: var(--theme-button-width);
}

#navbar-theme-header button:hover {
    cursor: pointer;
}

.dark-theme-shadow {
    box-shadow: var(--dark-theme-shadow-idle);
}
.dark-theme-shadow:active {
    box-shadow: var(--dark-theme-shadow-active);
}

.light-theme-shadow {
    box-shadow: var(--light-theme-shadow-idle);
}
.light-theme-shadow:active {
    box-shadow: var(--light-theme-shadow-active);
}

@media (max-width: 649px)
{
    #navbar-theme-header {
       display: none;
    }
}

/* Navbar Title */ 

#navbar-title {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: 'Pacifico', cursive;
    font-size: var(--title_size);
    color: var(--title_color);
    white-space: nowrap;
}

#navbar-title p {
    margin: 0;
}